<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<meta charset="utf-8">

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/stage">Open RUN</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
          	<a class="nav-link" href="http://localhost:8080/stage?category=연극&genre=">연극</a>
          </li>
          <li class="nav-item">
          	<a class="nav-link" href="http://localhost:8080/stage?category=뮤지컬&genre=">뮤지컬</a>
          </li>
          <li th:if="${session.user_info} == null">
         <a class="nav-link" href="/login">로그인</a>
        </li>
          <li class="nav-item dropdown" th:if="${session.user_info} != null">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               [[${session.user_info.email} + '님 회원정보']]
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="/mylist">찜한공연</a>
              <a class="dropdown-item" href="/signout">로그아웃</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>