<!DOCTYPE html>
<html lang="en">

  <!-- Navigation -->
  <nav th:replace = "common/nav"></nav>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Small Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
 
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
 <script th:inline="javascript">
  /*<![CDATA[*/
    $.ajax({
      url: 'https://www.googleapis.com/youtube/v3/search?part=snippet&key=AIzaSyBf4nvH7UvS2K8EhBC0mrJL0CkGCTmpi3U&q=' + /*[[${youtube}]]*/ + '&type=video',
      type: 'get',
      data: {},
      success: function(result){
        var items = result.items;
  
        var code = "";
  
        for(var i = 0; i < items.length; i++){
          videoId = items[i].id.videoId;
          title = items[i].snippet.title;
          code += '<div class="col-md-4 mb-5"><div class="card h-100"><div class="card-body">'
          code += '<iframe src="http://www.youtube.com/embed/' + videoId +'" allowfullscreen = "true"></iframe>'
          code += '<p>' + title + '</p>'
          code += '</div></div></div>'
          document.querySelector("#youtube").innerHTML = code;
        }
      }
    })
    /*]]>*/
  </script>




</head>

<body>


  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-4 text-center">
        <img class="img-fluid rounded mb-4 mb-lg-0" th:src="@{${thumb}}" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-8">
        <h1 class="font-weight-light" th:text="${title}"></h1>
        <p th:text="${period}"></p>
        <p th:text="${location}"></p>
        <a id="btn" class="btn btn-primary" th:href="@{http://ticket.interpark.com/search/ticket.asp(search=(${interparkTit}))}" target="_blank" style = background-color:#6c757d;border-color:#6c757d;>예약하기</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row" id="youtube">
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer th:replace = "common/footer"></footer>
</body>

</html>
